.Icono-de-Reloj {
    text-align: center;
}

.Icono-de-Reloj div {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 60px;
    color: white;
    background: black;
    display: inline-block;
    line-height: 60px;
    padding: 10px;
}